.post{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border: 1px solid;
    border-color: lightblue;
    width: 25%;
    padding: 5px;
    display: inline-block
}